.heading-secondry {
  grid-column: 2/-1;
  display: inline-block;
  letter-spacing: 1.5px;
  font-weight: 700;
  font-size: 5.6rem;
  color: #e6e6f1;
  line-height: 1.2;
  grid-row: 1;
  padding-left: 2rem;
  text-align: start;
  margin-top: 2rem;
}

.heading-secondry-hidden {
  display: none;
}

@media (max-width: 48em) {
  .heading-secondry {
    grid-column: 1/-1;
    text-align: center;
  }
}
