.hero-title {
  /* display: inline-block; */
  cursor: pointer;
  letter-spacing: 1.5px;
  font-weight: 700;
  grid-row: 2;
  grid-column: 1/-1;
  font-size: 5rem;
  align-self: center;
  color: #e6e6f1;
  backdrop-filter: blur(2px);
  text-align: center;
}
