header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 1/ -1;
  grid-row: 1;
  /* margin: 2rem 3rem 0 3rem; */

  align-self: self-start;
  border-radius: 4px;
}

.img-logo {
  max-height: 9rem;
  width: 24rem;
  border-radius: 9px;
}

.personal-area-logo {
  height: 5rem;
  width: 5rem;
  cursor: pointer;
}

header > .user-profile-personal {
  gap: 0.5rem;
}

header > .user-profile-personal > .profile-picture {
  height: 6rem;
  width: 6rem;
}

header > .user-profile-personal > .profile-name {
  font-size: 1.4rem;
  font-weight: 500;
}

.navigation {
  position: absolute;
  top: 2rem;
  right: 2rem;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  z-index: 3;
  animation: slideInFromRight 1s ease-out forwards;
}

.navigation > li {
  transition: all 0.4s;
  text-align: center;
  font-size: 1.6rem;
  cursor: pointer;
  padding: 1.4rem 4rem;
}

.navigation > li:nth-child(even) {
  color: #2b3149;
  background-color: #c7d1f9;
}

.navigation > li:nth-child(odd) {
  color: #2b3149;
  background-color: #dde3fb;
}

.navigation > li:hover {
  color: #dde3fb;
  background-color: #2b3149;
}

.personal-area-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 40rem;
  align-items: center;
  padding-top: 6rem;
  gap: 2rem;
  background: linear-gradient(135deg, #6e8efb, #5edb0a);
  border-radius: 9px;
}

.personal-area-section > .profile-img {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  border: 2px solid #5edb0a;
  object-fit: cover;
  object-position: center;
  margin-top: 4rem;
}

.personal-area-section > .profile-name {
  font-size: 2rem;
  color: #0f3d03;
}

.edit-box {
  position: absolute;
  left: 50%;
  bottom: 3rem;
  transform: translateX(-50%);
  display: flex;
  gap: 2rem;
  align-items: center;
}

.btn-edit {
  width: 13rem;
  padding: 1rem 1rem;
  color: #fff;
  background-color: #0f3d03;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-edit:hover {
  background-color: #5edb0a;
}

.edit-icon-box {
  position: absolute;
  top: 123px;
  left: 158px;
}

.edit-icon {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  fill: #050d2a;
}

@media (max-width: 27em) {
  .img-logo {
    height: 7rem;
    width: 19rem;
    border-radius: 9px;
  }

  header > .user-profile-personal > .profile-name {
    font-size: 1.8rem;
  }
}
