/*******************************
/ MAIN SEARCH SECTION
*******************************/
.main-search-section {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-top: 9.6rem;
}

/*******************************
/ SEARCH INPUT
*******************************/
.search-input {
  padding: 1rem 2rem;
  border-radius: 7px;
  font-size: 1.8rem;
  backdrop-filter: blur(1rem);
  background: none;
  color: #fff;
  resize: none;
  outline: none;
  box-shadow: 0.5px 0.5px 0.5px 1px rgba(165, 195, 224, 0.97);
  border: none;
}

.search-input::placeholder {
  color: #fff;
  opacity: 1;
}

/*******************************
/ TRIP CARD
*******************************/
.trip-card {
  position: relative;
}

.trip-list-item {
  grid-column: 1/2;
  margin-top: 6rem;
}

.trip-card-details {
  position: relative;
  height: 20rem;
  border-radius: 7px;
  backdrop-filter: blur(1rem);
  margin: 0 9.6rem;
  margin-bottom: 9rem;
  box-shadow: 0.1px 2px 5px 0.01px rgba(185, 186, 187, 0.76);
  z-index: 1;
  overflow: auto;
}

.trip-card-details::-webkit-scrollbar {
  display: none;
}

.trip-day-details {
  padding: 1.2rem;
  margin-bottom: 3px;
}

.trip-day-title {
  display: inline-block;
  color: #6fe31d;
  font-size: 2rem;
  margin: 2rem 1.6rem 1.2rem 1.6rem;
  font-weight: 600;
}

.trip-day-description {
  display: inline-block;
  padding: 0 1.6rem;
  font-size: 1.6rem;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.5px;
  backdrop-filter: blur(1rem);
}

.trip-card-tags {
  position: absolute;
  top: 5px;
  right: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.tag {
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  font-size: 1.4rem;
  background-color: #8fa3f3;
}

/*******************************
/ PROFILE PICTURE
*******************************/
.trip-card-profile {
  position: absolute;
  top: -49.9px;
  left: 46.1px;
  transform: translateY(-60%);
  display: flex;
  align-items: end;
  gap: 0.1px;
  z-index: 2;
  cursor: pointer;
}

.profile-name {
  color: #d2dafa;
  font-size: 1.6rem;
  font-weight: 600;
}

.profile-picture {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border: 2px solid #8fa3f3;
}

/*******************************
/ LIKE AND COMMENTS
*******************************/
.trip-interactions {
  z-index: 2;
  position: absolute;
  bottom: -14px;
  right: 108px;
  display: flex;
  gap: 9px;
}

.like-section,
.comments-section {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1px;
}

.likes-count,
.comments-count {
  display: inline-block;
  position: absolute;
  top: -5.9px;
  right: -6.4px;
  color: #0f3d03;
  background-color: #ffffff;
  width: 2rem;
  height: 2rem;
  font-size: 1.6rem;
  text-align: center;
  padding: 2px;
  border-radius: 50%;
  z-index: 2;
}

.comments-icon,
.like-icon {
  height: 4rem;
  width: 4rem;
  fill: #0f3d03;
  background-color: #6fe31d;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
}

.arrow-to-main {
  position: absolute;
  top: 50%;
  left: 7.5%;
  transform: translateY(-50%);
  z-index: 5;
}

/*******************************
/ EXPANDED-TRIP SECTION
*******************************/

.trip-details-modal {
  position: absolute;
  top: 12rem;
  left: auto;
  grid-column: 1/-1;
  max-height: 50rem;
}

.trip-details-content {
  position: relative;
  margin: 0 8rem;
  backdrop-filter: blur(1rem);
  height: 30rem;
  border-radius: 7px;
  z-index: 1;
  overflow: auto;
}

.trip-details-content::-webkit-scrollbar {
  display: none;
}

.expanded-trip-day-details > .trip-day-description {
  padding: 0 2rem;
  font-size: 1.6rem;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
.expanded-trip-day-details {
  padding: 1.2rem;
  margin-bottom: 3px;
}

.expanded-comments-section {
  position: relative;
  margin: 2rem 8rem;
  backdrop-filter: blur(1rem);
  overflow: auto;
  width: 45%;
}
.expanded-comments-section::-webkit-scrollbar {
  display: none;
}

.comments-input {
  position: relative;
  width: 80%;
}
.comments-input-fild {
  position: absolute;
  top: -1.5rem;
  left: 0;
  width: 100%;
  height: 4rem;
  background: none;
  border-radius: 7px;
  margin: 3rem;
  color: #ebe9f9;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  backdrop-filter: blur(1rem);
  padding: 3px 4rem 3px 3rem;
}

.trip-comments-list {
  margin-top: 4.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: flex-start;
  padding: 3rem;
}

.comment-text {
  font-size: 1.4rem;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-align: start;
  border: 1px solid #6efe4a;
  padding: 1rem 2rem;
  border-radius: 7px;
}

.back-arrow > .left-arrow-icon {
  position: absolute;
  top: 50%;
  left: 2.5rem;
  transform: translateY(-50%);
  z-index: 10;
}
