* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
  height: 100vh;
}

.background {
  position: fixed; /* או absolute, תלוי בצרכים שלך */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("/imgs/pexels-sagui-andrea-618848.jpg");
  background-size: 100% 100%;
  background-position: center;
  /* filter: blur(0.2rem); */
  z-index: -1; /* כדי שהרקע יהיה מאחורי התוכן */
}

.hero-section {
  /* position: relative; */
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
  justify-content: center;
  align-items: center;
  height: 75vh;
  margin: auto 5rem;
}

.container {
  position: relative;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
  row-gap: 2rem;
  justify-self: center;
}

.btn {
  cursor: pointer;
  width: 18rem;
  font-size: 1.8rem;
  padding: 1.6rem;
  border-radius: 2.4rem;
  font-weight: 600;
  color: #fff;
  border: 0;
  box-shadow: 0.5px 0.5px 0.5px 1px #6fe31d;
  background: none;
  backdrop-filter: blur(1rem);
  transition: all 0.3s;
}

.btn:hover {
  filter: blur(-5rem);
  box-shadow: 1px 0.2rem 0.5rem 1.5px #6fe31d;
}

.search-input-btn {
  width: 25rem;
  height: 5rem;
  border-radius: 9px;
  color: #fff;
  background: none;
  backdrop-filter: blur(1rem);
  padding-left: 1rem;
}

.search-input-btn::placeholder {
  font-size: 1.8rem;
  color: #fff;
}

.search-input-box {
  position: relative;
}

.search-button-icon {
  position: absolute;
  top: 50%;
  right: 0.7rem;
  transform: translateY(-50%);
  z-index: 10;
}

.search-icon {
  height: 3rem;
  width: 3rem;
  fill: #6fe31d;
  cursor: pointer;
}

.arrow-icon {
  padding: 3px;
  height: 4rem;
  width: 4rem;
  fill: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0.5px 0.5px 0.5px 1px #6fe31d;
  background: none;
  backdrop-filter: blur(1rem);
  transition: all 0.3s;
}

.arrow-icon:hover {
  filter: blur(-5rem);
  box-shadow: 1px 0.2rem 1rem 1px #6fe31d;
}

.left-arrow-icon {
  position: absolute;
  left: -55px;
  top: 53%;
}

.right-rrow-icon {
  position: absolute;
  right: -38px;
  top: 53%;
}
.arrows-section {
  position: absolute;
  bottom: 1.8rem;
  right: 72.5%;
  display: flex;
  gap: 4rem;
}

.dim-background {
  position: fixed; /* או absolute, תלוי במבנה האתר שלך */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.913); /* לבן עם שקיפות */
  z-index: 10; /* כדי להבטיח שזה יעלה מעל כל האלמנטים האחרים */
  pointer-events: none;
}

.input-box {
  position: relative;
}

.text-danger {
  position: absolute;
  bottom: -16px;
  left: 0;
  color: red;
  font-size: 1.2rem;
  text-align: start;
}
