.share-title {
  grid-column: 1/-1;
  font-size: 2.6rem;
  color: #fff;
}

.type-trip-title {
  width: 100%;
  grid-column: 1/-1;
  font-size: 2.6rem;
  color: #fff;
}

.types-buttons-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
  row-gap: 2rem;
  justify-self: center;
}

/***************************
TYPE-TRAVELERS SECTION
****************************/

.types-travelers-buttons {
  display: inline;
  font-size: 3.6rem;
  color: #fff;
  font-weight: 600;
  width: 18rem;
  grid-column: 1/2;
  grid-row: 1;
  color: #e6e7f6;
}

/***************************
TRIP-LOCATION SECTION
****************************/

.trip-location-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 3rem;
}

.numOfDays-country-box {
  grid-column: 1/-1;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  margin-right: 10px;
  margin-top: 10px;
}

.selection-box {
  outline: none;
  font-size: 2rem;
  padding: 1.6rem;
  border-radius: 9px;
  background: none;
  color: #fff;
  backdrop-filter: blur(0.5rem);
  width: 100%;
}

.save-location {
  width: 14rem;
  font-size: 2.2rem;
  margin-top: 6rem;
  padding: 1rem;
  font-weight: 500;
  border-radius: 12px;
}

.country-list {
  max-height: 8rem;
  overflow-y: auto;
  border-top: none;
  width: 80%;
  font-size: 1.6rem;
  padding: 1.2rem;
  border: none;
  color: #fff;

  scrollbar-width: none; /* עבור דפדפני Firefox */
  -ms-overflow-style: none; /* עבור Internet Explorer 10+ */
}

.country-list::-webkit-scrollbar {
  display: none;
}

.country-list div {
  padding: 1.2rem;
  cursor: pointer;
  border-radius: 7px;
  overflow-y: auto;
}

.country-list div:hover {
  backdrop-filter: blur(1rem);
}

.selection-box::placeholder {
  font-size: 2rem;
  color: #fff; /* שינוי צבע ה-placeholder */
  opacity: 1; /* אופציונלי - קובע את שקיפות הטקסט */
}

.selected {
  backdrop-filter: blur(1rem);
  cursor: pointer; /* מראה למשתמש שהוא יכול ללחוץ על האופציה */
}

/***************************
 DESCRIPTION SECTION
****************************/

.description-box {
  resize: none;
  outline: none;
  grid-column: 1/-1;
  font-size: 1.6rem;
  padding: 1.6rem;
  margin-right: 10px;
  height: 20rem;
  border-radius: 7px;
  background: none;
  color: #fff;
  backdrop-filter: blur(1rem);
  font-family: "Rubik", sans-serif;
}

.description-box::placeholder {
  font-size: 1.6rem; /* שינוי גודל הגופן */
  color: #fff; /* שינוי צבע הגופן */
  text-align: start; /* הטקסט יתחיל מהצד השמאלי */
  vertical-align: top; /* הטקסט יתחיל מהחלק העליון */
  opacity: 1; /* אופציונלי - קובע את שקיפות הטקסט */
  font-family: "Rubik", sans-serif;
}

.save-description {
  border-radius: 9px !important;
}

.change-day-description-block {
  position: absolute;
  bottom: -2.8rem;
  left: 0;
  display: flex;
  gap: 1rem;
}

.change-day-description {
  color: #0f3d03;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  /* border: 1px solid #e6e7f6; */
  border-radius: 5px;
  padding: 5px 15px;
  background-color: #6fe31d;
}

.change-day-description:hover {
  background-color: #5c5c5c;
  color: #cfcfcf;
}

.icons-description-box {
  position: absolute;
  bottom: 4px;
  right: 1.8rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: end;
  margin-top: 5px;
}

.icons-descripton-trip {
  height: 3rem;
  width: 3rem;
  fill: #6fe31d;
  cursor: pointer;

  font-weight: 700;
}
.icon-menu-descripton-trip {
  height: 4rem;
  width: 4rem;
  fill: #6fe31d;
  cursor: pointer;
}

.aaa {
  position: relative;
}

/***************************
 SUCCESSFUL-MESSAGE SECTION
****************************/

.successful-message {
  position: relative;
  display: inline-block;
  grid-column: 1/-1;
  text-align: center;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease-out;
  margin-left: 4rem;
  margin-right: 4rem;
}

.successful-message > h1 {
  margin-bottom: 1rem;
  font-size: 5rem;
  color: #6fe31d;
  animation: slideInFromLeft 1s ease-out;
}

.successful-message > h2 {
  font-size: 3rem;
  color: #fff;
  animation: slideInFromRight 1s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.successful-message p {
  color: #2c5b0c; /* צבע הטקסט */
  font-size: 2rem; /* גודל הפונט */
  margin-top: 1rem; /* מרווח מעל הפסקה */
  margin-bottom: 1rem; /* מרווח מתחת לפסקה */
  line-height: 1.6; /* גובה השורה */
  max-width: 600px; /* מקסימום רוחב של הפסקה */
  margin-left: auto; /* מרכז את הפסקה */
  margin-right: auto; /* מרכז את הפסקה */
  text-align: center; /* יישור הטקסט למרכז */
}

@keyframes sparkle {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.sparkle {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #2e0deb;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: sparkle 1s ease-out infinite;
}

/* ניתן להוסיף עוד זיקוקים עם מיקומים שונים וזמני אנימציה שונים */
.sparkle1 {
  animation-delay: 0.1s;
}

.sparkle2 {
  animation-delay: 0.2s;
}

.btn-homepage {
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
}
